*{

padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Ek Mukta', sans-serif;
font-size: 18px;
text-decoration: none;

}

html{

height: 100%;

}

body{

display: flex;
flex-flow: column nowrap;
justify-content: center;


}


/*-----------------HEADER-----------------------*/
header{
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
height: 17%;
border-top: 5px solid #a30000;
box-shadow: -1px 4px 14px -2px rgba(0,0,0,0.75);
position: fixed;
z-index: 4;
top: 0;
background-color: white;

}


header #logo{
max-width: 175px;
border: px solid blue;


}

.fi-shopping-cart span,.barradentro,.fi-torsos-all span{

display: none;

}

/*--------BOTON DE NAV---------------*/



.fi-list-bullet{


font-size: 30px;
color: rgba(34, 34, 34, 1.0);
color: #a30000;
font-family: "none";

}


.fi-list-bullet:hover{


color: black;

}

/*----------------------------------*/


/*REGISTRO Y CARRITOS*/

.fi-torsos-all{

border: px solid black;
font-size: 25px;

color: #a30000;
cursor: pointer;

}



.fi-torsos-all:hover{

color: black;


}


.fi-shopping-cart{
	
cursor: pointer;
border: px solid black;
font-size: 25px;
color: #a30000;


}

.fi-shopping-cart:hover{
color: black;


}
	


/*------------NAV PRINCIPAL-----------------------*/

.navbar{


	
	width: 100%;
	height: 100%;
	background-color: rgba(34, 34, 34,1);
	
	
	display: flex;
	flex-flow: column nowrap;
	position: fixed;
	z-index: 4;
	top: 0px;
	left: -100%;
}




.titulonav{

	
	background-color: #a30000;
	padding: 5px 35px;
	
	display: flex;
	
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
  
}

nav h4{

color: white;
font-size: 19px;

}

#cerrar{

color: white;
font-size: 30px;

}

#cerrar:hover{

color: black;

}


.navbar a{

	padding: 6px 35px;
	text-decoration: none;
	color: white;
	display: block;
	
	border-bottom: 1px solid #2d2d2d; 
	vertical-align: center;
	position: relative;
}




.navbar a:hover{

	background-color: rgba(44,44,44,1) ;
	color: #a30000;



}



.navbar a:hover:after{
	content: "";
	width: 5px;
	height: 100%;
	background-color: #a30000;
	position: absolute;
	left: 0;
	top: 0;

}


a#ultimo{

	border-bottom: none;

}

/*---------------------MAIN-----------------------------*/

main{



display: flex;
flex-flow: column nowrap;
justify-content: center;

text-align: justify;
margin: 0 10px;


}

main p{

columns: 1;

}


/*---------------------FOOTER--------------------------------*/

footer{
display: flex;
justify-content: center;
align-items: center;
flex-flow: column wrap;
border-top: 5px solid #beae9b;
background-color: #f3f3f3; 
line-height: 2;

}


footer nav {

color: rgba(0, 0, 0, 0.65);

}




footer nav a {

color: rgba(0, 0, 0, 0.65);

}


footer nav h3{

padding-top: 17px;
padding-bottom: 7px;

}



#quienes-somos {
display: flex;
flex-direction: column;




}


#quienes-somos i{

font-size: 18px;

}

#quienes-somos i:hover{

color: rgba(0, 0, 0, 1);


}



#guia-de-compra{
display: flex;
flex-direction: column;
align-items: center;



}

#conecta-con-nosotros{
display: flex;
flex-direction: column;
order: 4;
justify-content: center;



}

#conecta-con-nosotros a{

display: none;

}




#conecta-con-nosotros i{
font-size: 2.1rem;
display: flex;
justify-content: space-around;

}

#mercamira{

display: flex;
flex-flow: column wrap;
align-items: center;

}



.nav-derechos{

display: flex;
justify-content: center;
width: 100%;
border-top: 3px solid #beae9b;
order: 5;


}

.nav-derechos a{

color: rgba(0, 0, 0, 0.65);

padding: 0 8px;


}

.nav-derechos a:hover{

color: rgba(0, 0, 0, 1);


}




.nav-derechos a:last-child{
border: none;


}


/*---------------------------------------------*/


